<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>默认</key>
        <array>
            <dict>
                <key>:-O</key>
                <string>amazing</string>
            </dict>
            <dict>
                <key>:-(</key>
                <string>anger</string>
            </dict>
            <dict>
                <key>#:-(</key>
                <string>angry</string>
            </dict>
            <dict>
                <key>^_^;</key>
                <string>awkward</string>
            </dict>
            <dict>
                <key>(^口^；)</key>
                <string>bother</string>
            </dict>
            <dict>
                <key>[breakheart]</key>
                <string>breakheart</string>
            </dict>
            <dict>
                <key>[buddha]</key>
                <string>buddha</string>
            </dict>
            <dict>
                <key>[clap]</key>
                <string>clap</string>
            </dict>
            <dict>
                <key>+@+</key>
                <string>cold</string>
            </dict>
            <dict>
                <key>→_→ </key>
                <string>contempt</string>
            </dict>
            <dict>
                <key>Q_Q</key>
                <string>cry</string>
            </dict>
            <dict>
                <key>●-● </key>
                <string>cute</string>
            </dict>
            <dict>
                <key>(^^;;</key>
                <string>despair</string>
            </dict>
            <dict>
                <key>(x___x)</key>
                <string>dizzy</string>
            </dict>
            <dict>
                <key>[fire]</key>
                <string>fire</string>
            </dict>
            <dict>
                <key>(∩_∩)</key>
                <string>fun</string>
            </dict>
            <dict>
                <key>o_O</key>
                <string>funny</string>
            </dict>
            <dict>
                <key>[good]</key>
                <string>good</string>
            </dict>
            <dict>
                <key>>_-</key>
                <string>grievance</string>
            </dict>
            <dict>
                <key>^=^</key>
                <string>growl</string>
            </dict>
            <dict>
                <key>^＠^</key>
                <string>happy</string>
            </dict>
            <dict>
                <key>[kiss]</key>
                <string>kiss</string>
            </dict>
            <dict>
                <key>[love]</key>
                <string>love</string>
            </dict>
            <dict>
                <key>^ O ^</key>
                <string>loveu</string>
            </dict>
            <dict>
                <key>0^◇^0</key>
                <string>mahogany</string>
            </dict>
            <dict>
                <key>⊙﹏⊙° </key>
                <string>nasalmucus</string>
            </dict>
            <dict>
                <key>^Q^</key>
                <string>naughty</string>
            </dict>
            <dict>
                <key>[no]</key>
                <string>no</string>
            </dict>
            <dict>
                <key>[ok]</key>
                <string>ok</string>
            </dict>
            <dict>
                <key>~>_-.</key>
                <string>sad</string>
            </dict>
            <dict>
                <key>*^﹏^*</key>
                <string>shy</string>
            </dict>
            <dict>
                <key>[!]</key>
                <string>sigh</string>
            </dict>
            <dict>
                <key>Zzz</key>
                <string>sleep</string>
            </dict>
            <dict>
                <key>.^o^.</key>
                <string>sohappy</string>
            </dict>
            <dict>
                <key>^人^</key>
                <string>straightface</string>
            </dict>
            <dict>
                <key>~w_w~</key>
                <string>sweat</string>
            </dict>
            <dict>
                <key>[top]</key>
                <string>top</string>
            </dict>
            <dict>
                <key>[victory]</key>
                <string>victory</string>
            </dict>
            <dict>
                <key>[weak]</key>
                <string>weak</string>
            </dict>
            <dict>
                <key>[?]</key>
                <string>what</string>
            </dict>
            <dict>
                <key>(^_-)</key>
                <string>wink</string>
            </dict>
            <dict>
                <key>(¯^¯)</key>
                <string>worry</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>其它</key>
        <array>
            <dict>
                <key>[alien]</key>
                <string>alien</string>
            </dict>
            <dict>
                <key>[around]</key>
                <string>around</string>
            </dict>
            <dict>
                <key>[bear]</key>
                <string>bear</string>
            </dict>
            <dict>
                <key>[cactus]</key>
                <string>cactus</string>
            </dict>
            <dict>
                <key>[camel]</key>
                <string>camel</string>
            </dict>
            <dict>
                <key>(＝^ ^＝)</key>
                <string>cat</string>
            </dict>
            <dict>
                <key>(‧‧)nnn</key>
                <string>caterpillar</string>
            </dict>
            <dict>
                <key>[cats]</key>
                <string>cats</string>
            </dict>
            <dict>
                <key>[chick]</key>
                <string>chick</string>
            </dict>
            <dict>
                <key>[chicken]</key>
                <string>chicken</string>
            </dict>
            <dict>
                <key>[@]</key>
                <string>circle</string>
            </dict>
            <dict>
                <key>[cloud]</key>
                <string>cloud</string>
            </dict>
            <dict>
                <key>[cow]</key>
                <string>cow</string>
            </dict>
            <dict>
                <key>[dog]</key>
                <string>dog</string>
            </dict>
            <dict>
                <key>[dolphin]</key>
                <string>dolphin</string>
            </dict>
            <dict>
                <key>[elephant]</key>
                <string>elephant</string>
            </dict>
            <dict>
                <key>[feces]</key>
                <string>feces</string>
            </dict>
            <dict>
                <key>[flowers]</key>
                <string>flower</string>
            </dict>
            <dict>
                <key>[flower]</key>
                <string>flowers</string>
            </dict>
            <dict>
                <key>(＝^ω^＝)</key>
                <string>fox</string>
            </dict>
            <dict>
                <key>[frog]</key>
                <string>frog</string>
            </dict>
            <dict>
                <key>[goat]</key>
                <string>goat</string>
            </dict>
            <dict>
                <key>[grain]</key>
                <string>grain</string>
            </dict>
            <dict>
                <key>[horse]</key>
                <string>horse</string>
            </dict>
            <dict>
                <key>[koala]</key>
                <string>koala</string>
            </dict>
            <dict>
                <key>[lighting]</key>
                <string>lighting</string>
            </dict>
            <dict>
                <key>[maple]</key>
                <string>maple</string>
            </dict>
            <dict>
                <key>[monkey]</key>
                <string>monkey</string>
            </dict>
            <dict>
                <key>[moon]</key>
                <string>moon</string>
            </dict>
            <dict>
                <key>[mouse]</key>
                <string>mouse</string>
            </dict>
            <dict>
                <key>(：◎)≡</key>
                <string>octopus</string>
            </dict>
            <dict>
                <key>(¯(∞)¯)</key>
                <string>pig</string>
            </dict>
            <dict>
                <key>/( * W * )\</key>
                <string>rabbit</string>
            </dict>
            <dict>
                <key>[rain]</key>
                <string>rain</string>
            </dict>
            <dict>
                <key>[rose]</key>
                <string>rose</string>
            </dict>
            <dict>
                <key>[sheel]</key>
                <string>sheel</string>
            </dict>
            <dict>
                <key>[snake]</key>
                <string>snake</string>
            </dict>
            <dict>
                <key>[snowman]</key>
                <string>snowman</string>
            </dict>
            <dict>
                <key>★★★</key>
                <string>star</string>
            </dict>
            <dict>
                <key>->★</key>
                <string>stonemandrel</string>
            </dict>
            <dict>
                <key>[sun]</key>
                <string>sun</string>
            </dict>
            <dict>
                <key>[sunflower]</key>
                <string>sunflower</string>
            </dict>
            <dict>
                <key>[tiger]</key>
                <string>tiger</string>
            </dict>
            <dict>
                <key>[wave]</key>
                <string>wave</string>
            </dict>
            <dict>
                <key>[whale]</key>
                <string>whale</string>
            </dict>
            <dict>
                <key>[wildboar]</key>
                <string>wildboar</string>
            </dict>
            <dict>
                <key>[woodpecker]</key>
                <string>woodpecker</string>
            </dict>
        </array>
    </dict>
</array>
</plist>
