<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>amazing</string>
    <string>anger</string>
    <string>angry</string>
    <string>awkward</string>
    <string>bother</string>
    <string>breakheart</string>
    <string>buddha</string>
    <string>clap</string>
    <string>cold</string>
    <string>contempt</string>
    <string>cry</string>
    <string>cute</string>
    <string>despair</string>
    <string>dizzy</string>
    <string>fire</string>
    <string>fun</string>
    <string>funny</string>
    <string>good</string>
    <string>grievance</string>
    <string>growl</string>
    <string>happy</string>
    <string>kiss</string>
    <string>love</string>
    <string>loveu</string>
    <string>mahogany</string>
    <string>nasalmucus</string>
    <string>naughty</string>
    <string>no</string>
    <string>ok</string>
    <string>sad</string>
    <string>shy</string>
    <string>sigh</string>
    <string>sleep</string>
    <string>sohappy</string>
    <string>straightface</string>
    <string>sweat</string>
    <string>top</string>
    <string>victory</string>
    <string>weak</string>
    <string>what</string>
    <string>wink</string>
    <string>worry</string>
    <string>alien</string>
    <string>around</string>
    <string>bear</string>
    <string>cactus</string>
    <string>camel</string>
    <string>cat</string>
    <string>caterpillar</string>
    <string>cats</string>
    <string>chick</string>
    <string>chicken</string>
    <string>circle</string>
    <string>cloud</string>
    <string>cow</string>
    <string>dog</string>
    <string>dolphin</string>
    <string>elephant</string>
    <string>feces</string>
    <string>flower</string>
    <string>flowers</string>
    <string>fox</string>
    <string>frog</string>
    <string>goat</string>
    <string>grain</string>
    <string>horse</string>
    <string>koala</string>
    <string>lighting</string>
    <string>maple</string>
    <string>monkey</string>
    <string>moon</string>
    <string>mouse</string>
    <string>octopus</string>
    <string>pig</string>
    <string>rabbit</string>
    <string>rain</string>
    <string>rose</string>
    <string>sheel</string>
    <string>snake</string>
    <string>snowman</string>
    <string>star</string>
    <string>stonemandrel</string>
    <string>sun</string>
    <string>sunflower</string>
    <string>tiger</string>
    <string>wave</string>
    <string>whale</string>
    <string>wildboar</string>
    <string>woodpecker</string>
</array>
</plist>
