<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>:-O</string>
    <string>:-(</string>
    <string>#:-(</string>
    <string>^_^;</string>
    <string>(^口^；)</string>
    <string>[breakheart]</string>
    <string>[buddha]</string>
    <string>[clap]</string>
    <string>+@+</string>
    <string>→_→ </string>
    <string>Q_Q</string>
    <string>●-● </string>
    <string>(^^;;</string>
    <string>(x___x)</string>
    <string>[fire]</string>
    <string>(∩_∩)</string>
    <string>o_O</string>
    <string>[good]</string>
    <string>>_-</string>
    <string>^=^</string>
    <string>^＠^</string>
    <string>[kiss]</string>
    <string>[love]</string>
    <string>^ O ^</string>
    <string>0^◇^0</string>
    <string>⊙﹏⊙° </string>
    <string>^Q^</string>
    <string>[no]</string>
    <string>[ok]</string>
    <string>~>_-.</string>
    <string>*^﹏^*</string>
    <string>[!]</string>
    <string>Zzz</string>
    <string>.^o^.</string>
    <string>^人^</string>
    <string>~w_w~</string>
    <string>[top]</string>
    <string>[victory]</string>
    <string>[weak]</string>
    <string>[?]</string>
    <string>(^_-)</string>
    <string>(¯^¯)</string>
    <string>[alien]</string>
    <string>[around]</string>
    <string>[bear]</string>
    <string>[cactus]</string>
    <string>[camel]</string>
    <string>(＝^ ^＝)</string>
    <string>(‧‧)nnn</string>
    <string>[cats]</string>
    <string>[chick]</string>
    <string>[chicken]</string>
    <string>[@]</string>
    <string>[cloud]</string>
    <string>[cow]</string>
    <string>[dog]</string>
    <string>[dolphin]</string>
    <string>[elephant]</string>
    <string>[feces]</string>
    <string>[flowers]</string>
    <string>[flower]</string>
    <string>(＝^ω^＝)</string>
    <string>[frog]</string>
    <string>[goat]</string>
    <string>[grain]</string>
    <string>[horse]</string>
    <string>[koala]</string>
    <string>[lighting]</string>
    <string>[maple]</string>
    <string>[monkey]</string>
    <string>[moon]</string>
    <string>[mouse]</string>
    <string>(：◎)≡</string>
    <string>(¯(∞)¯)</string>
    <string>/( * W * )\</string>
    <string>[rain]</string>
    <string>[rose]</string>
    <string>[sheel]</string>
    <string>[snake]</string>
    <string>[snowman]</string>
    <string>★★★</string>
    <string>->★</string>
    <string>[sun]</string>
    <string>[sunflower]</string>
    <string>[tiger]</string>
    <string>[wave]</string>
    <string>[whale]</string>
    <string>[wildboar]</string>
    <string>[woodpecker]</string>
</array>
</plist>
